

body {
  background: url("./CuttingBoardGarlic.jpg");
  height: 50%;
  background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  background-attachment: fixed;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
